<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!-- Стиль для шапки и главного меню //-->
 <style>
   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Вытянуть пункты главного меню в горизонтальную строку в ряд */
    margin-right: 5px; /* Отступ слева */
<!--    border: 1px solid #000; /* Рамка вокруг текста */-->
    padding: 3px; /* Поля вокруг текста */
     background: #BABCBC;
   }
 </style>
<!-- Конец блока стиля для шапки и главного меню //-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/admin/css/base.css">

    <title>Aнализатор и диагностика локальной сети</title>
</head>
<body>
<!-- Шапка сайта и меню//-->
<center><h2>NetDiags: диагностика локальной сети</h2></center>
<hr>
<div align="right">
<ul class="hr">
    <li><a href="/about/">[О сервисе]</a></li>
    <li><a href="/feedback/">[Обратная связь]</a></li>
    <li><a href="/admin/">[Вход в админку] </a></li>
</ul>
</div>
<!-- Конец шапки и меню//-->
<hr>
<table width="100%">
    <tr>
        <td>
<!-- Начало блока выбора параметров для запуска диагностики //-->
<div align="left">
<form>
    {% csrf_token %}
  <select size="14" multiple id="server-select">
    {% for server in servers %}
      <option value="{{ server.id }}">{{ server.name }}</option>
    {% endfor %}
  </select>
<br>
всего пакетов
<br>
<input size="3" type="text" name="count" value="100">
<br>
размер пакетов
<br>
<input size="3" type="text" name="count" value="100">
<br>
  <input type="submit" name="submit" value="Запуск теста">
</form>
</div>
        </td>
<!-- Конец блока выбора параметров для запуска диагностики //-->

<!-- Отображение таблицы логов //-->
        <td>

    <table>
        <tr>
            <th>Время</th>
            <th>Хост</th>
            <th>Ср. время отклика</th>
            <th>Пакетов отправлено</th>
            <th>Пакетов получено</th>
            <th>Пакетов потеряно</th>
            <th>Процент потерь</th>
        </tr>
    </table>

        </td>
    </tr>
</table>
<!-- Конец отображения таблицы логов //-->

<script>
<!--  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;-->
  const select = document.querySelector("#server-select");
  const form = select.closest("form");

  form.addEventListener("submit", function(event) {
    event.preventDefault();

    const hostList = [];
    for (const option of select.selectedOptions) {
      hostList.push(option.text);
    }
    console.log("hostList:", hostList);

    fetch("/go_ping/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}"
      },
      body: JSON.stringify({ hostList: hostList })
    });
  });

</script>
<h4>
<footer><center>NetDiags: диагностика локальной сети, ver. 0.1</center></footer>
</h4>
</body>
</html>